@model KalkulatorPaliwka.Models.Vehicles

<h1>Dodaj pojazd</h1>

<form method="post">
    <div>
        <label for="Brand">Marka</label>
        <input type="text" id="Brand" name="Brand" value="@Model.Brand" required />
    </div>

    <div>
        <label for="Model">Model</label>
        <input type="text" id="Model" name="Model" value="@Model.Model" required />
    </div>

    <div>
        <label for="RegistrationNumber">Numer rejestracyjny</label>
        <input type="text" id="RegistrationNumber" name="RegistrationNumber" value="@Model.RegistrationNumber" required />
    </div>

    <button type="submit">Dodaj pojazd</button>
</form>
<div>
    <a href="@Url.Action("Index", "AdminDashboard")">
        <button type="button">Powrót </button>
    </a>
</div>