@model dynamic

@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Panel Admina</h1>

<div>
    <h3>Statystyki </h3>
    <ul>
        <li>Total Users: @Model.TotalUsers</li>
        <li>Total Vehicles: @Model.TotalVehicles</li>
        <li>Total Fuel Consumption: @Model.TotalFuelConsumption L</li>
    </ul>
</div>



<div>
    <h3>Funkcje</h3>
    <ul>
        <li><a href="/Admin/AssignVehicle">Przypisz Pojazd</a></li>
        <li><a href="/Admin/AddVehicle">Dodaj Pojazd</a></li>
        <li><a href="/Admin/VehicleList">Pojazdy</a></li>
        <li><a href="/Admin/UserHistory">Historia danych uzytkownikow</a></li>
        <li><a href="/Admin/AddUser">Dodaj uzytkownika</a></li>
        <li><a href="/Admin/Users">Lista Uzytkownikow</a></li>
    </ul>
</div>

<div>
    <!-- Logout button -->
    <form method="post" asp-controller="Admin" asp-action="Logout">
        <button type="submit" class="btn btn-danger">Wyloguj</button>
    </form>
</div>
