@model IEnumerable<KalkulatorPaliwka.Models.User>

<div class="container mt-5">
    <h2 class="mb-4 text-center">Użytkownicy</h2>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr><th>Username</th><th>Email</th><th>Akcje</th></tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.username</td>
                    <td>@user.email</td>
                    <td>
                        <a href="/Admin/EditUser/@user.userid" class="btn btn-sm btn-primary">Edytuj</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
