<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PRDM</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    
</head>
<body>
    <header>
       <div class="nav-bar">
           <img src="#" alt="Alternate Text" />
           <input type="text" name="username" value="" />
           <input type="password" name="passowrd"value="">
           <input type="button" name="login" value="Zaloguj" />
       </div>
       
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="">

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
