@{
    ViewData["Title"] = "Strona Główna";
}

<div class="container text-center mt-5" style="color:white;">
    <h1 class="display-4 mb-4">Witamy w systemie PRDM S.A.</h1>
    <p class="lead">Platforma do zarządzania zużyciem paliwa pojazdów służbowych.</p>
    <p>Rozwiązania stworzone przez PRDM S.A. w celu kontroli i optymalizacji eksploatacji pojazdów.</p>
</div>
