@model IEnumerable<KalkulatorPaliwka.Models.FuelData>

@{
    ViewData["Title"] = "History of Fuel Data";
}

<h2>History of Fuel Data</h2>

<table>
    <thead>
        <tr>
            <th>Distance (km)</th>
            <th>Fuel Consumption (L/100 km)</th>
            <th>Fuel Price (PLN/L)</th>
            <th>Total Cost (PLN)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Distance</td>  <!-- Zmienione na 'Kilometers' -->
                <td>@item.FuelConsumption</td>
                <td>@item.FuelPrice</td>
                <td>@item.TotalCost</td>
            </tr>
        }
    </tbody>
</table>
