@model KalkulatorPaliwka.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<!-- Wyświetlanie błędów walidacji, jeśli są -->
@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div style="color: red;">
        @ViewData["ErrorMessage"]
    </div>
}

<form method="post" asp-action="Login">
    <div>
        <label for="Username">Username</label>
        <input type="text" id="Username" name="username" value="@Model.username" />
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="password" id="Password" name="passwordhash" value="@Model.passwordhash" />
    </div>
    
    <!-- Wyświetlanie błędów z ModelState -->
    @if (!ViewData.ModelState.IsValid)
    {
        <div style="color: red;">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

    <button type="submit">Login</button>
</form>
